<h2 class="content-subhead">Users</h2>
<a href="/users" class="pure-menu-link">Link to users page</a>

<h2 class="content-subhead">Search</h2>
<a href="/search" class="pure-menu-link">Have a quote you want to locate? Click here!</a>

<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @contents.each_with_index do |chapter, index| %>
      <li class="pure-menu-item">
        <a href="/chapters/<%=index+1%>" class="pure-menu-link"><%= chapter %></a>
      </li>
    <% end %>
  </ul>
</div>